@use "../../styles/mixins" as m;
@use "../../styles/constants/size" as s;

$S_FONT_BASIC: "13px";
$S_FONT_SMALL: "12px";

.container {
  @include m.flex(center, center, column);
  width: 100%;
  height: 100%;
  padding: 20px;
  font-weight: 300;
  font-size: $S_FONT_BASIC;
}

.form {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-gap: 5px;
  margin-bottom: 30px;
}

// category
.category_wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.category_input {
  display: none;
}

.category_label {
  @include m.flex();
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 1px #0000006b, 0px 0px 1px #0d0d0d88;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
//

.content_input {
  box-shadow: 1px 1px 1px #0000006b, 0px 0px 1px #0d0d0d88;
  padding: 0 5px;
  font-size: $S_FONT_SMALL;

  ::placeholder {
    font-weight: 300;
    font-size: $S_FONT_SMALL;
    color: rgba(1, 1, 1, 0.2);
  }
}

.label {
  @include m.flex();

  text-align: end;
  font-weight: 500;
  box-shadow: 1px 1px 1px #0000006b, 0px 0px 1px #0d0d0d88;
}

.date_wrap {
  @include m.flex();

  width: 100%;
  box-shadow: 1px 1px 1px #0000006b, 0px 0px 1px #0d0d0d88;
}

.date_input {
  width: 30px;
  height: 100%;
  font-weight: 300;

  &::placeholder {
    color: rgba(1, 1, 1, 0.2);
  }
}

.date_div {
  @include m.flex();

  font-size: $S_FONT_BASIC;
}

.range_wrap {
  @include m.flex();

  box-shadow: 1px 1px 1px #0000006b, 0px 0px 1px #0d0d0d88;
}

.range {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #0000006b, 0px 0px 1px #0d0d0d88;

  &::-webkit-slider-thumb {
    background-color: transparent;
    height: 20px;
    width: 16px;
    border-radius: s.$S_RADIUS;
  }
}

.submit_button {
  width: 100px;
  height: 30px;
  justify-self: center;
  margin-top: 10px;
  border-radius: s.$S_RADIUS;
  font-weight: 300;
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
