@use "../../styles/mixins" as m;
@use "../../styles/constants/size" as s;

.container {
  @include m.flex(center, center, column);
  width: 100%;
  height: 100%;
  padding: 30px;
  font-weight: 300;
  font-size: 15px;

  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0.5;
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  button,
  label,
  input {
    border-radius: s.$S_RADIUS;
    font-weight: 500;
  }

  input {
    padding: 10px;
  }

  > .form {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    > label {
      @include m.flex();
      width: 100%;
      height: 100%;
    }

    > input {
      background-color: #ffffff8a;
    }

    > button {
      transition: transform 0.2s ease-in-out;
      padding: 5px;

      &:hover {
        transform: scale(1.1);
      }
    }

    > .two {
      grid-column: 2/4;
    }

    > .optionButton {
      width: 50px;
      height: 30px;
      margin: 20px 0;
      justify-self: center;
      align-self: center;
      position: relative;

      > div {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: -8px;
        right: -8px;
      }
    }
  }

  > button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
  }
}

.range {
  width: 100%;
  height: 10px;
  cursor: pointer;
  border: 1px solid #0000002e;
  // box-shadow: 1px 1px 1px #0000006b, 0px 0px 1px #0d0d0d88;
  justify-self: center;
  align-self: center;
  margin: 10px;
  background-color: #ffffff8a;

  &::-webkit-slider-thumb {
    height: 30px;
    width: 20px;
    border-radius: s.$S_RADIUS;
  }
}
