@use "../../styles/mixins" as m;
@use "../../styles/constants" as c;

.checkBoxWrap {
  @include m.flex();
  height: 100%;
  color: white;
  p {
    color: white;
  }
  > .checkbox {
    label {
      color: white;
    }
    svg {
      fill: white;
    }
    div {
      border: 1px solid white;
    }
  }
}
