@use "../../../../styles/mixins" as m;
@use "../../../../styles/constants" as c;

.form {
  @include m.flex(center, flex-start);

  > .inputWrap {
    @include m.flex(center, center, column);

    > input {
      width: 200px;
      height: 44px;
      box-shadow: 0px 1px 2px 0px rgba(1, 1, 1, 0.4);
      padding: 8px;
      font-size: 18px;
      border-radius: c.$S_RADIUS;
      margin-bottom: 12px;
      color: c.$C_BLACK;

      &::placeholder {
        color: rgba(1, 1, 1, 0.2);
        font-size: 14px;
        padding: 12px 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  > button {
    width: 80px;
    margin-left: 12px;
    height: 156px;
    border-radius: c.$S_RADIUS;
    box-shadow: 0px 1px 2px 0px rgba(1, 1, 1, 0.4);
    font-size: 16px;
    color: white;
  }
}
