@use "../../styles/mixins" as m;
@use "../../styles/constants/size" as s;

.header {
  width: 100%;
  padding: 0 5px 5px 0;
  i {
    margin: 2px 2px 0 0;
  }
  > div {
    @include m.flex(flex-end);
  }
}

.date {
  @include m.flex();
  width: 100%;
  font-size: 12px;
  border-radius: s.$S_RADIUS;
}
.trackers {
  @include m.flex();

  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: s.$S_RADIUS;

  > div {
    font-size: 18px;
  }
  > div:first-of-type {
    margin-right: 3px;
  }
}

.column {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 20px repeat(31, 35px);
  grid-gap: 5px;
}
