@use "../../styles/mixins" as m;
@use "../../styles/constants" as c;

.logo {
  @include m.flex(center, center, column);
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 102px;
  text-shadow: 4px 4px 4px rgba(1, 1, 1, 0.4);

  > p {
    letter-spacing: 2px;
    > span {
      color: red;
    }
  }
}

.wrap {
  @include m.flex(center, center, column);

  > footer {
    @include m.flex(center, center, column);

    > button {
      width: 260px;
      height: 32px;
      font-size: 18px;
      border-radius: c.$S_RADIUS;
      box-shadow: 0px 2px 4px 0px rgba(1, 1, 1, 0.4);
      background-color: transparent;
      margin-bottom: 12px;
    }
  }
}
