@use "../../styles/mixins" as m;

.wrap {
  > section {
    @include m.square();
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    > .dateWrap {
      border: 1px solid black;

      input {
        display: none;
      }
    }
  }
}
