@use "../../../styles/mixins" as m;
@use "../../../styles/constants" as c;

.header {
  @include m.flex(space-between);
  width: 100%;
  font-family: "GangwonEdu_OTFBoldA";
  padding: 8px 48px;
  color: c.$C_BLACK;

  > .title {
    font-size: 48px;
  }
}

.buttons {
  width: 160px;
  @include m.flex(space-between);

  > button {
    padding: 8px;
    border-radius: c.$S_RADIUS;
    transition: 0.2s all ease-in;

    &:hover {
      background-color: c.$C_BLACK;
      color: white;
    }
  }
}
