@use "../../../styles/mixins" as m;
@use "../../../styles/constants" as c;

.wrap {
  @include m.flex();
  min-width: 100px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 12px 16px 12px 8px;
  border-radius: c.$S_RADIUS;
  font-size: 14px;
  color: white;
  z-index: 999;
  > p {
    margin-top: 2px;
  }

  > svg {
    fill: white;
  }
}
