@use "../../../styles/mixins/flexbox" as m;

.header {
  @include m.flex(space-between);
  width: 100%;
  font-family: "GangwonEdu_OTFBoldA";
  padding: 8px 48px;

  > .title {
    font-size: 48px;
  }
}
