@use "../../../../styles/mixins" as m;
@use "../../../../styles/constants" as c;

.trackerButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  border-radius: c.$S_RADIUS;
  gap: 4px;

  &.offTracker {
    @include m.flex();
    gap: 0px;
  }

  > button {
    @include m.square();
    @include m.flex();
    border-radius: c.$S_RADIUS;
    background-color: white;

    svg {
      width: 20px;
    }

    &.exercise {
      svg {
        width: 28px;
      }
    }

    &.lock {
      svg {
        width: 18px;
        padding-bottom: 2px;
      }
    }
  }
}
