@use "../../styles/mixins" as m;
@use "../../styles/constants/size" as s;

@include m.desktop {
  .body {
    margin: 0px;
  }
}

.body {
  @include m.flex(center, flex-start);
  width: 100%;
  height: 100%;
  padding: 20px;

  > .main {
    @include m.flex(center, center, column);
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    box-shadow: 5px 5px 10px #0000006b;
  }

  > .nav {
    width: 85px;
    margin-top: 15px;
    > button {
      width: 80px;
      height: 50px;
      margin-bottom: 10px;
      box-shadow: 2px 2px 5px #0000006b;
      transition: padding-left 0.3s ease-in-out;
      box-sizing: content-box;

      &:hover {
        padding-left: 15px;
      }
    }
  }
}

.header {
  @include m.flex(flex-start);
  width: 100%;
  height: 15px;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: s.$S_SPACE;

  .icon {
    padding: 0 5px;
  }

  .icon_div {
    width: 5px;
    height: 15px;
    margin-right: 3px;
  }
}

.message {
  @include m.flex();
  width: 100%;
  font-size: 11px;
  font-weight: 400;
  margin-top: 15px;
}

.theme_button_container {
  width: 80px;
  height: 80px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 2px 2px 5px #0000006b;
}

.theme_button {
  font-size: 20px;
  opacity: 0.8;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    box-shadow: 2px 2px 5px #0000006b;
    transform: scale(1.3);
    position: relative;
    z-index: 99;
    border-radius: 3px;
  }
}
