@use "../../styles/mixins" as m;

.wrap {
  @include m.box(100%, 100vh);
  @include m.flex();

  > aside {
    @include m.box();
    min-width: 152px;
    max-width: 152px;
    position: relative;

    > .logo {
      position: absolute;
      top: 4px;
      right: 4px;

      > p {
        font-size: 24px;
        letter-spacing: 4px;
        text-align: end;
        line-height: 0.8;
        opacity: 0.4;
      }
    }
  }

  > main {
    @include m.box();
    background-color: white;
    padding: 12px;
    position: relative;
    z-index: 80;
  }
}
