@use "../../styles/mixins" as m;

.wrap {
  @include m.box(100%, 100vh);
  @include m.flex();

  > aside {
    @include m.box();
    min-width: 120px;
    max-width: 120px;
    position: relative;
    background-color: red;
  }

  > main {
    @include m.box();
    background-color: white;
    padding: 12px;
    position: relative;
    z-index: 80;
  }
}
