@use "../../../styles/mixins" as m;
@use "../../../styles/constants" as c;

.footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: -10px;

  > .copyright {
    border: none;
    font-size: 12px;
    padding: 4px;
    opacity: 0.5;
  }
}
