@use "../../../styles/mixins" as m;
@use "../../../styles/constants" as c;

.wrap {
  display: grid;
  gap: 4px;
  height: 40px;
  margin-bottom: 4px;
  grid-template-columns: 36px 1fr 36px;

  > li,
  .main,
  .date {
    border-radius: c.$S_RADIUS;
  }

  > .date {
    @include m.flex();
  }

  > .main {
    border: 1px solid rgba(1, 1, 1, 0.2);
    @include m.flex(flex-start);
  }
}

.diaryForm {
  @include m.flex(flex-start);
  position: relative;
  width: 100%;

  > .diaryInput {
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  > .diarySubmitButton {
    width: 40px;
    margin-right: 8px;
    padding: 8px 4px;
    border-radius: 2px;
    transition: 0.2s background-color ease-in;
  }
}

.tracker {
  grid-template-columns: 36px 1fr 116px;
}

.trackerButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  border-radius: c.$S_RADIUS;
  gap: 4px;

  &.offTracker {
    @include m.flex();
    gap: 0px;
  }

  > button {
    @include m.square();
    @include m.flex();
    border-radius: c.$S_RADIUS;
    background-color: white;
    border-radius: c.$S_RADIUS;

    svg {
      width: 20px;
    }

    &.exercise {
      svg {
        width: 28px;
      }
    }

    &.lock {
      svg {
        width: 18px;
        padding-bottom: 2px;
      }
    }
  }
}

.toast {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s opacity ease-in, 0.5s transform ease-in;
  z-index: 999;

  &.onToast {
    opacity: 1;
    transform: translateY(0);
  }
}
