@use "../../../styles/constants/size" as s;
@use "../../../styles/mixins" as m;
@use "../../../styles/constants/color" as c;

.nav {
  width: 120px;
  position: relative;
  margin-top: 80px;

  &:has(input:checked) {
    right: calc(100% - 60px);
    transition: 0.2s right ease-in;
    &:hover {
      right: 0;
    }
  }

  > .fixedCheckBox {
    position: absolute;
    width: 18px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: 0.1s transform ease-in;

    &:hover {
      transform: scale(1.1) translateY(-5px);
    }
    > input:checked + svg {
      transform: rotate(30deg);
    }
  }

  > button {
    width: 96px;
    padding: 12px;
    text-align: start;
    font-size: 16px;
    box-sizing: content-box;
    color: white;
    transition: 0.2s background-color ease-in;

    &:first-of-type {
      border-top-right-radius: s.$S_RADIUS;
    }
  }

  // .theme
  .themeToggle {
    @include m.flex();
    height: 120px;
    border-bottom-right-radius: s.$S_RADIUS;
    border: none;
    font-size: 42px;
    padding: 32px 0;
    position: relative;
    cursor: auto;

    > p {
      @include m.flex();
      width: 50px;
    }

    //themeButtons
    > div {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      transition: 0.3s opacity ease-in;
    }

    &:hover > div {
      opacity: 1;
    }
  }
}

.themeButtons {
  @include m.square(80%, 80%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  > button {
    font-size: 18px;
    transition: 0.2s transform ease-in, 0.2s font-size ease-in;
    @include m.flex();

    > svg {
      transition: 0.2s width ease-in;
    }

    &:nth-of-type(3) {
      border-bottom-left-radius: s.$S_RADIUS;
    }

    &:last-of-type {
      border-bottom-right-radius: s.$S_RADIUS;
    }

    &:hover {
      transform: scale(1.2);
      font-size: 22px;
      border-radius: s.$S_RADIUS;

      > svg {
        width: 20px;
      }
    }
  }
}
