// THEME_TREE
$C_TREE_FIRST: #534340;
$C_TREE_SECOND: #bb9981;
$C_TREE_THIRD: #c5d8a4;
$C_TREE_FOURTH: #f4fcd9;

// THEME_PEACH
$C_PEACH_FIRST: #ff9494;
$C_PEACH_SECOND: #ffd1d1;
$C_PEACH_THIRD: #ffe3e1;
$C_PEACH_FOURTH: #fff5e4;

// THEME_PASTEL
$C_PASTEL_FIRST: #7286d3;
$C_PASTEL_SECOND: #8ea7e9;
$C_PASTEL_THIRD: #e5e0ff;
$C_PASTEL_FOURTH: #fff2f2;

// THEME_GRAPE
$C_GRAPE_FIRST: #645cbb;
$C_GRAPE_SECOND: #a084dc;
$C_GRAPE_THIRD: #bface2;
$C_GRAPE_FOURTH: #ebc7e6;
